# Required Libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

# Reading the Data

In [2]:
Data = pd.read_csv("train_ctrUa4K.csv")

In [3]:
Data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
Data.shape

(614, 13)

In [5]:
print(Data.columns)

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

## label encode the target variable

In [6]:
encode = LabelEncoder()
Data.Loan_Status = encode.fit_transform(Data.Loan_Status)

In [7]:
Data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

## drop the null values

In [8]:
Data.dropna(how='any',inplace=True)

In [9]:
Data.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

## train-test-split

In [10]:
train , test = train_test_split(Data,test_size=0.2,random_state=0)

## seperate the target and independent variable

In [11]:
train_x = train.copy().drop(columns=['Loan_ID','Loan_Status'],axis=1)
train_y = train['Loan_Status']

In [39]:
test_x = test.copy().drop(columns=['Loan_ID','Loan_Status'],axis=1)
test_y = test['Loan_Status']

## encode the data

In [40]:
train_x = pd.get_dummies(train_x)
test_x = pd.get_dummies(test_x)

In [41]:
print('shape of training data : ',train_x.shape)
print('shape of testing data : ',test_x.shape)

shape of training data :  (384, 20)
shape of testing data :  (96, 20)

# Model Building

In [42]:
# Logistic Model
logreg = LogisticRegression()
logreg.fit(train_x,train_y)
pred_train = logreg.predict(train_x)
pred_test = logreg.predict(test_x)
print("Accuracy on train is:",accuracy_score(train_y,pred_train))
print("Accuracy on test is:",accuracy_score(test_y,pred_test))

Accuracy on train is: 0.8229166666666666
Accuracy on test is: 0.7604166666666666

D:\python\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [16]:
## Decision Tree
from sklearn import tree
dtc = tree.DecisionTreeClassifier()
dtc.fit(train_x,train_y)
pred_train = dtc.predict(train_x)
pred_test = dtc.predict(test_x)
print("Accuracy on train is:",accuracy_score(train_y,pred_train))
print("Accuracy on test is:",accuracy_score(test_y,pred_test))

Accuracy on train is: 1.0
Accuracy on test is: 0.6770833333333334